.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 30px;
  color: black;
}

.header {
  margin: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
